.article-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.article-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 216px;
}

.article-content:hover{
    background-color: #E6E8EA; 
}

.article-image{
    height: 200px;
    width: 216px;
}

.article-name{ 
    font-size: 12px;
    color: #7A7A7A;
    font-family: 'Nunito', sans-serif;
}

.article-price, .article-price-fee{
    color: #7A7A7A;
    font-size: 14px;
    margin: 5px;
}

.article-list-price{
    font-size: 18px;
    font-family: 'Nunito-Black', sans-serif;
    font-weight: 600;
    margin: 2px;
}

.off{
    text-decoration:line-through;
}

.on-sale-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.on-sale {
    width: 6rem;
    height: 6rem;
    background-color: #F8475F;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
    position: absolute;
    top: 0;  
    text-align: right;
    padding-right: 1rem;
    color: white;
    font-weight: 800;  
    font-size: 16px;
}

@media (max-width: 768px) { 
    .article-image{
        height: 151px;
        width: 163px;
    }
    .article-image{
        height: 200px;
        width: 180px;
    }
    .article-name{ 
        font-size: 10px; 
    }
    .article-content{ 
        width: 180px;
    }
    .on-sale{ 
        width: 6rem;
        height: 6rem; 
        font-weight: 600;  
        font-size: 14px; 
    }
}