.body{

  height: 80px;
}

.section-container{
    width: 50%; 
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text{
    color: #fff;
    font-family: "Nunito-Regular";
    font-size: 30px; 
}

.title{
    font-size: 48px;
    max-width: 460px; 
}

@media (max-width: 600px) {
    .text{ 
        font-size: 24px; 
    }
    /* .body{
        background: url("../../assets/backgroundMobile.jpg");  
        background-size: 100% auto;  
        height: 100%;
        width: 100%;
        max-width: initial;
        object-fit: cover;
        object-position: center center;   
    } */
    .title{
        font-size: 32px;
        max-width: 430px; 
    }
    .section-container{
        width: 100%;
        padding: 1rem ; 
        align-items: flex-start;
    }
}
