.footer-button {
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    width: 230px;
    height: 48px;
    font-family: 'Nunito', 'sans-serif';
    margin: 1rem;
    text-transform: uppercase; 
    font-size: 12px;
    font-weight: normal;
    display: flex;
    flex-direction: row;  
    align-items: center;
}

.footer-btn-icon { 
    left: 18px;
    width: 24px; 
    padding-left: 10px ;
} 

.footer-btn-span{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {  
    
    .footer-button {   
        width: 270px;
        height: 50px;   
        font-size: 12px;  
    } 
}