.header {
    width: 100%;  
}

.navbar-container {
    padding: 1rem 5rem;  
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.logo {
    height: 2.5rem;
    margin-right: 2rem; 
}       

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    
    @media (max-width: 768px) {
        .navbar-container {
            flex-wrap: wrap; 
            padding: 1rem;  
            justify-content: space-between;
        }
        .logo {
            margin-right: 0;
            width: 14rem;
        } 
    }