.button{
    background-color: #000;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    color: #FFF;
    height: 32px;
    width: 126px;   
    margin-bottom: 1rem;
}

.button:hover {
    transition: .2s ;
    height: 32px;
    width: 132px; 
}

@media (max-width: 768px) {
    .button{ 
        height: 44px;
        width: 172px;   
        margin-top: 5px; 
    }
}